<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" media="all" href="<%= css %>" />
  <link rel="stylesheet" media="all" href="styles/style.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="scripts/main.js"></script>
</head>
<body>
  <aside class="sidebar">
  <%
  if (sections.length > 1) {
  %>
    <dl class="toc">
      <dt><a href="#"><span>zazen</span></a></dt>
      <dd><a href="https://github.com/minodisk/zazen" class="external"><span>GitHub Repositories</span></a></dd>
      <dt><a href="#"><span>Introduction</span></a></dt>
    <%
    sections.forEach(function (section) {
      if (result = section.docsHtml.match(/<h(\d) id="(.*?)">(.*)<\/h\d>/)) {
        switch (parseInt(result[1], 10)) {
          case 2:
          %>
          <dt><a href="#<%= result[2] %>"><span><%= result[3] %></span></a></dt>
          <%
            break;
          case 3:
          %>
          <dd><a href="#<%= result[2] %>"><span><%= result[3] %></span></a></dd>
          <%
            break;
        }
      }
    });
    %>
    </dl>
  <%
  }
  %>
  </aside>
  <div class="container">
    <div class="header">
      <% if (hasTitle) { %>
        <% var section = sections.shift(); %>
        <%= section.docsHtml.replace(/<p><\/p>/g, '') %>
        <% if (!(/^\s*$/).test(section.codeText)) { %>
          <%= section.codeHtml %>
        <% } %>
      <% } else { %>
        <h1><%= title %></h1>
      <% } %>
    </div>

    <%
    for (var i = 0, l = sections.length; i<l; i++) {
      var section = sections[i]
        , codeText = ''
        ;
      %>
      <%= section.docsHtml.replace(/<p><\/p>/g, '') %>
      <%
      if (!(/^\s*$/).test(section.codeText)) {
      %>
        <%= section.codeHtml %>
      <%
      }
    }
    %>
  </div>
</body>
</html>
